<%= render "shared/header" %>

  <%# Chitty×２ Bang×２パートナーのメリット部分 %>
  <div class='select-reason-contents'>
    
    <h2 class='title'>
      Chitty×２ Bang×２パートナーのメリット
    </h2>
    <ul class='reason-lists'>
      <li class='list'>
        <%= image_tag "stock-photo--female-restaurant-bar-employee-in-front-of-her-workplace-outdoors-portrait-of-an-employee-wearing-1135049009.jpg", class:"list-pict" %>
        
        <h3 class='reason-list-text'>
         自由な働き方
        </h3>
        <p class='reason-list-description'>
          自身の都合に合わせて稼働することができます。
          １日だけでも、週末だけでも、選択することも可能です。
        </p>
      </li>
      <li class='list'>
        <%= image_tag "stock-photo-happy-waiter-with-protective-face-mask-holding-open-sign-while-standing-at-cafe-doorway-1742687024.jpg", class:"list-pict" %>
        
        <h3 class='reason-list-text'>
         自由な求人募集
        </h3>
        <p class='reason-list-description'>
          お店の都合に合わせて求人を募集できる。
          ピーク時間帯だけでも、１日だけでも、週末だけでも
          募集可能です。
        </p>
      </li>
      <li class='list'>
        <%= image_tag "stock-photo-low-angle-view-of-happy-restaurant-staff-standing-against-white-background-661585663.jpg", class:"list-pict" %>
        <h3 class='reason-list-text'>
          新たな出会い
        </h3>
        <p class='reason-list-description'>
          多種多様の現場で働くことができる。
          自分スタイルを見つけよう。  
        </p>
      </li>
    </ul>
  </div>
  <%# /Chitty×２ Bang×２パートナーのメリット部分 %>
  <%= render "shared/footer" %>